.card-title {
    font-weight: 400 !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

/*form*/
label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 600 !important;
}

label {
          color: #828282;
      }



.custom-file-label {
    height: calc(1.9rem + 2px) !important;
}

/*left side bar*/
.nav-sidebar .nav-item>.nav-link {
    margin-bottom: 0.6rem !important;
}

/*//bootstrap buttons btn-custom*/
.btn-custom { 
  color: #FFFFFF; 
  background-color: #001f3f; 
  border-color: #001f3f; 
} 
 
.btn-custom:hover, 
.btn-custom:focus, 
.btn-custom:active, 
.btn-custom.active, 
.open .dropdown-toggle.btn-custom { 
  color: #FFFFFF; 
  background-color: #001f3fd9; 
  border-color: #001f3fd9; 
} 
 
.btn-custom:active, 
.btn-custom.active, 
.open .dropdown-toggle.btn-custom { 
  background-image: none; 
} 
 
.btn-custom.disabled, 
.btn-custom[disabled], 
fieldset[disabled] .btn-custom, 
.btn-custom.disabled:hover, 
.btn-custom[disabled]:hover, 
fieldset[disabled] .btn-custom:hover, 
.btn-custom.disabled:focus, 
.btn-custom[disabled]:focus, 
fieldset[disabled] .btn-custom:focus, 
.btn-custom.disabled:active, 
.btn-custom[disabled]:active, 
fieldset[disabled] .btn-custom:active, 
.btn-custom.disabled.active, 
.btn-custom[disabled].active, 
fieldset[disabled] .btn-custom.active { 
  background-color: #001f3f; 
  border-color: #001f3f; 
} 
 
.btn-custom .badge { 
  color: #001f3f; 
  background-color: #FFFFFF; 
}

.btn-outline {
  color: black;
  border-color: #001f3f;
  font-weight: 400;
  background-color: #FFFFFF;
  letter-spacing: 0.05em;
  padding: 4px 12px;
}

/*//bootstrap buttons btn-orange*/
.btn-orange { 
  color: #FFFFFF; 
  background-color: #ed4b00; 
  border-color: #ed4b00; 
} 
 
.btn-orange:hover, 
.btn-orange:focus, 
.btn-orange:active, 
.btn-orange.active, 
.open .dropdown-toggle.btn-orange { 
  color: #FFFFFF; 
  background-color: #ff864e; 
  border-color: #ff864e; 
} 
 
.btn-orange:active, 
.btn-orange.active, 
.open .dropdown-toggle.btn-orange { 
  background-image: none; 
} 
 
.btn-orange.disabled, 
.btn-orange[disabled], 
fieldset[disabled] .btn-orange, 
.btn-orange.disabled:hover, 
.btn-orange[disabled]:hover, 
fieldset[disabled] .btn-orange:hover, 
.btn-orange.disabled:focus, 
.btn-orange[disabled]:focus, 
fieldset[disabled] .btn-orange:focus, 
.btn-orange.disabled:active, 
.btn-orange[disabled]:active, 
fieldset[disabled] .btn-orange:active, 
.btn-orange.disabled.active, 
.btn-orange[disabled].active, 
fieldset[disabled] .btn-orange.active { 
  background-color: #cf6635; 
  border-color: #cf6635; 
} 
 
.btn-orange .badge { 
  color: #ed4b00; 
  background-color: #FFFFFF; 
}

.btn-outline-orange {
  color: black;
  border-color: #ed4b00;
  font-weight: 400;
  background-color: #FFFFFF;
  letter-spacing: 0.05em;
  padding: 4px 12px;
}


/*bootstrap4 datepicker*/
.bootstrap-datetimepicker-widget.dropdown-menu{
  width:auto !important;
}

/*select2 picker for sm*/
.text-sm .select2-container--default .select2-selection--single, select.form-control-sm~.select2-container--default .select2-selection--single {
    height: calc(2.25rem + 2px) !important;
}

.select2-container{
  width:auto!important;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #ced4da !important;
}
.text-sm .select2-container--default .select2-selection--single .select2-selection__rendered, select.form-control-sm~.select2-container--default .select2-selection--single .select2-selection__rendered {
    margin-top: -3px;
}

.text-sm .select2-container--default .select2-selection--single .select2-selection__arrow{
  top: 5px;
}