
/*sidebar*/
[class*="sidebar-light-"] .nav-treeview > .nav-item > .nav-link:hover, [class*="sidebar-light-"] .nav-treeview > .nav-item > .nav-link:focus {
  background-color: rgb(0 31 63 / 14%) !important;
  color: #000;
}



/* 5.12 Plugin - Parsley */

.parsley-error {
	background: #fff !important;
	border-color: #ff5b57 !important;
}
.parsley-error:focus {
	border-color: #cc4946 !important;
	outline: 0;
	box-shadow: 0 0 0 0.125rem rgba(204, 73, 70, 0.3) !important;
}
.parsley-success {
	background: #fff !important;
	border-color: #00acac !important;
}
.parsley-success:focus {
	border-color: #008a8a !important;
	outline: 0;
	box-shadow: 0 0 0 0.125rem rgba(0, 172, 172, 0.3) !important;
}
.parsley-error,
.parsley-success {
	color: #2d353c !important;
	box-shadow: none !important;
}
.parsley-error:focus,
.parsley-success:focus {
	color: #2d353c !important;
}
.parsley-errors-list {
	padding: 0 !important;
	list-style-type: none !important;
	margin: 0 !important;
	color: #e5603b;
	font-size: 12px !important;
	line-height: inherit !important;
}
.parsley-errors-list.filled {
	margin-top: 5px !important;
}


/*Input error*/

.has-error .help-block, 
.has-error .control-label, 
.has-error .radio, 
.has-error .checkbox, 
.has-error .radio-inline, 
.has-error .checkbox-inline,
.has-error .form-control-feedback,
.has-error.checkbox label, 
.has-error.checkbox-inline label, 
.has-error.radio label, 
.has-error.radio-inline label,
.form-check-input.is-invalid~.form-check-label, 
.was-validated .form-check-input:invalid~.form-check-label,
.invalid-feedback {
	color: #cc4946;
}
.has-error .form-control,
.custom-select.is-invalid, 
.form-control.is-invalid, 
.was-validated .custom-select:invalid, 
.was-validated .form-control:invalid {
	border-color: #ff5b57;
	box-shadow: none;
}
.has-error .form-control:focus,
.custom-select.is-invalid:focus, 
.form-control.is-invalid:focus, 
.was-validated .custom-select:invalid:focus, 
.was-validated .form-control:invalid:focus {
	border-color: #cc4946;
	outline: 0;
	box-shadow: 0 0 0 0.125rem rgba(204, 73, 70, 0.3);
}



/*Sweetalert2 toastr*/
.colored-toast.swal2-icon-success {
  background-color: #1e7e34 !important;
}

.colored-toast.swal2-icon-error {
  background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
  background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
  background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
  background-color: #87adbd !important;
}

.colored-toast .swal2-title {
  color: white;
}

.colored-toast .swal2-close {
  color: white;
}

.colored-toast .swal2-html-container {
  color: white;
}


/*Pop Up*/
/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}



/*datatables*/
div.dataTables_length {
    float: left;
    padding-right: 10px;
}

div.dataTables_filter {
    float: right;
}

div.dataTables_info {
    float: left;
}

div.dataTables_paginate {
    float: right;
}

div.buttons {
    clear: both;
}

.table td, .table th {
    padding: 0.6rem;
}

/*datatables pagination*/
.page-item.active .page-link {
    color: white !important;
    background-color: #001f3f !important;
    border-color: #001f3f !important;
}

.page-link:focus {
    box-shadow: 0 0 0 0.2rem rgb(0 31 63 / 22%) !important;
}

.page-link {
    color: #001f3f !important;
}

div.dataTables_wrapper div.dataTables_processing {
  border: 2px solid;
}

table.dataTable td {
    white-space: nowrap;
}